{% extends "network/layout.html" %}
{% load static %}
{% block fill %}
postuser
{% endblock %}
{%block follow %}followingPage{%endblock%}
{% block body %}


<div id="center">
    <div id="top">
        {% if user.is_authenticated %}
        <a class = "active" href="{% url 'index' %}">All posts</a>
        
            <a  href="#" class = "followingPage">Following</a>
        {% endif %}
        {% if not  user.is_authenticated %}
        <a class = "only active" href="{% url 'index' %}">All posts</a>
        {% endif %}
    </div>
{% if user.is_authenticated %}
    <form id="createpost" method = "post" action = "{% url 'publish' %}">
        {% csrf_token %}
        <img class = "personimage5" src="{{imageurl}}" alt="userimage">
        <textarea placeholder="
 What is happening?!" name = "content"></textarea>
        <hr>
        <input type="submit"  value="POST">
        
    </form>
    {% endif %}
    <div id="allpost">
        {% for publish in published %}

        <div class="published">
            <div class="cont">
                <img class = "personimage" src="{{publish.profile_image}}" alt="">
                <div class="contr">
                    <div class="contrt">
                        <a href="#" class = "postuser">{{publish.user}}</a>
                        <p class = "time">{{publish.time_left}}</p>
                        
                    </div>
                    
                    <p class = "content">{{publish.content}}</p>
                </div>
                
            </div>
            
            
            
            <div class="contb">
                <div class="liking">
                    <img  class = "likeimg"  src="{% static 'network/like.png' %}" alt="Like">
                    <p class ="likeNumber">{{publish.likes}}</p>
                    {% if publish.liked_by_user and button %}
                    <button data-postid="{{publish.id}}" class = "like">dislike</button>
                    {% elif button %}
                    <button data-postid = "{{publish.id}}" class="like">like</button>
                    {% endif %}
                </div>
                <div class="bottom">
                    {% if request.user.username == publish.user.username %}
                    <button class="edit" data-postid = "{{publish.id}}">Edit</button>
                    <button class="delete" data-postid = "{{publish.id}}">Delete</button>
                    {%endif%}
                </div>

            </div>

        </div>
        {%empty%}
        <div class="published"><h2>No Posts</h2></div>
    {% endfor %}
    </div>

</div>


    <script>
        //delete post
        document.querySelectorAll('.delete').forEach(function(button) {
            button.addEventListener('click', function() {
                let post_id = button.dataset.postid;
                fetch('delete', {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        post_id: post_id,
                    })
                })
                .then(response => response.json())
                .then(result => {
                    console.log(result.message);
                    button.closest('.published').style.display = 'none';
                })
            })

        })
        //like and dislike
        document.querySelectorAll('.like').forEach(function(button) {
    let post_id = button.dataset.postid;
    button.addEventListener('click', function() {
        fetch('like', {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                post_id: post_id,
            })
        })
        .then(response => response.json())
        .then(result => {
            console.log(result.message);
            let like_element = this.closest('.published').querySelector('.likeNumber');
            like_element.textContent = result.likes;
            
            // Update the button text based on the current state
            if (this.innerHTML.trim() === 'like') {
                this.innerHTML = 'dislike';
            } else {
                this.innerHTML = 'like';
            }
        })
        .catch(error => console.log('error', error));
    });
});
            const itemsPerPage = 10;
    const publishedItems = document.querySelectorAll('.published')
    function displayItems(page)
    {
        
        publishedItems.forEach(item => {
        item.style.display = 'none';
        });
        const startIndex = (page -1) * itemsPerPage
        const endIndex = startIndex + itemsPerPage
        for (let i =startIndex; i < endIndex && i < publishedItems.length; i++)
        {
            publishedItems[i].style.display = 'block'
        }
    }
    function createPagination(){
        
        const pageCount = Math.ceil(publishedItems.length/itemsPerPage)
        const paginationContainer = document.createElement('div')
        paginationContainer.id = 'pagination'
        document.querySelector('body').append(paginationContainer)

        for(let i = 1; i <= pageCount; i++)
        {
            const pageButton = document.createElement('button')
            pageButton.textContent = i;
            if (i === 1) {
            pageButton.classList.add('bactive');
        }
            pageButton.addEventListener('click', () => {
            displayItems(i);
            document.querySelectorAll('#pagination button').forEach(btn => btn.classList.remove('bactive'));
            pageButton.classList.add('bactive');
        });
            paginationContainer.append(pageButton)
            
        }
    }
    displayItems(1);
    createPagination()

    
    //editing post
    document.querySelectorAll('.edit').forEach(function(button) {
        button.addEventListener('click', function() {
            let content = this.closest('.published').querySelector('.content').innerHTML;
            let post_id = button.dataset.postid
            console.log(post_id)
            this.closest('.published').querySelector('.content').style.display="none";
            this.closest('.published').querySelector('.liking').style.display="none";
            this.closest('.published').querySelector('.edit').style.display="none";
            this.closest('.published').querySelector('.delete').style.display="none";
          
            
            text = document.createElement('textarea')
            save = document.createElement('button')
            save.innerHTML = 'Save'
            save.classList.add('save')
            text.classList.add('text')
            text.innerHTML = content
            this.closest('.published').querySelector('.cont').append(text)
            this.closest('.published').querySelector('.cont').append(save)
            save.addEventListener('click',()=>{
                content = text.value
                fetch('edit',{
                            method: 'PUT',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({
                                post_id: post_id,
                                content: content,
                                
                            })
                        })
                            .then(response => response.json())
                            .then(result => {
                                console.log(result.message)
                               text.style.display="none";
                                 save.style.display="none";

                                this.closest('.published').querySelector('.content').style.display="block";
                                this.closest('.published').querySelector('.time').style.display="block";
                                this.closest('.published').querySelector('.liking').style.display="block";
                                this.closest('.published').querySelector('.edit').style.display="inline-block";
                                this.closest('.published').querySelector('.delete').style.display="inline-block";
                                
                                this.closest('.published').querySelector('.content').innerHTML = content
                })
                            .catch(error => console.log('error', error))
                
            })
        });
    });
    </script>



{% endblock %}
{% block bottom %}

    <img class = "personimage1"src="{{imageurl}}" alt="userimage">

    <p class = "r postuser">{{user.username}}</h2>



{% endblock%}

